In [23]:
import pandas as pd
import numpy as np

In [ ]:

df = pd.read_csv("Users.csv")
gb = pd.read_csv("Engagements.csv")

df2 = gb.groupby('user_id')['engagement'].mean().reset_index()
df2.rename(columns={'engagement': 'Current_engagement_score'}, inplace=True)

In [25]:
df2.head(5)

  user_id  Current_engagement_score
0      U1                      0.55
1     U10                      0.45
2     U11                      0.45
3     U12                      0.70
4     U13                      0.60

In [ ]:

df_final = pd.merge(df, df2, on='user_id', how='left')

In [ ]:
df_final['Engagement'] = np.where(
    df_final['Current_engagement_score'] > df_final['past_engagement_score'],0,1)

In [ ]:

df_final['Interest'] = df_final['top_3_interests'].str.split(',').str[0].str.strip()

In [29]:
df_final.head()

,user_id,age,gender,top_3_interests,past_engagement_score,Current_engagement_score,Engagement,Interest
0,U1,24,F,"sports, art, gaming",0.61,0.55,1,sports
1,U2,32,F,"travel, food, fashion",0.93,0.35,1,travel
2,U3,28,Other,"sports, travel, fashion",0.40,0.45,0,sports
3,U4,25,M,"fashion, music, tech",0.53,0.55,0,fashion
4,U5,24,M,"fashion, food, fitness",0.80,0.40,1,fashion

- Created the Interest list

In [ ]:

interest = df_final['top_3_interests'].str.split(',').explode()
interest = interest.str.strip()
interest = interest.drop_duplicates()

df = pd.DataFrame(interest).rename(columns={'top_3_interests': 'Interest'})
df.reset_index(drop=True, inplace=True)
df['ID'] = df.index

df= df[['ID', 'Interest']]
df.to_csv("Interests_list.csv", index=False)

In [31]:
df_final=df_final[["user_id","age","gender","past_engagement_score","Interest","Engagement"]]

In [33]:
df_final.to_csv("1-Prepared_data.csv",index= False)