In [35]:
import pandas as pd
import numpy as np

In [36]:
df = pd.read_csv("1-Prepared_data.csv")

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   user_id                50 non-null     object
 1   age                    50 non-null     int64
 2   gender                 50 non-null     object
 3   past_engagement_score  50 non-null     float64
 4   Interest               50 non-null     object
 5   Engagement             50 non-null     int64
dtypes: float64(1), int64(2), object(3)
memory usage: 2.5+ KB

In [38]:
df['gender'].value_counts()

gender
M        25
F        23
Other     2
Name: count, dtype: int64

In [39]:
df['gender']=np.where(df['gender'] == 'M',1,
                np.where(df['gender'] == 'F',0,-1))

In [40]:
gb=pd.read_csv("Interests_list.csv")

In [41]:
df = pd.merge(df, gb, how='left', on='Interest')

In [42]:
df=df.drop(['Interest'], axis=1)

In [43]:
df=df[["user_id","age","gender","past_engagement_score","ID","Engagement"]]

In [44]:
df.head()

  user_id  age  gender  past_engagement_score  ID  Engagement
0      U1   24       0                   0.61   0           1
1      U2   32       0                   0.93   3           1
2      U3   28      -1                   0.40   0           0
3      U4   25       1                   0.53   5           0
4      U5   24       1                   0.80   5           1

In [45]:
df.to_csv("2-Model_Input.csv",index= False)